.silgle_feture span{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #ff766b;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
.silgle_feture span i{
    font-size: 1.5rem;
}
.choose_content h4{
    color: #fff;
    margin-bottom: 15px;
}
.silgle_feture h6{
    color: #f5b70a;
    margin-bottom: 0;
}
.silgle_feture p{
    font-size: 0.7rem;
}
.feture_icon-two{
    background: #2ace92 !important;
}
.feture_icon-3{
    background: #f5b70a !important;
}
.feture_icon-4{
    background: #7865ff !important;
}
@media only screen and (max-width:992px)  {
    .choose_content h2{
        font-size: 1.5rem;
    }
    .choose_content h4{
        font-size: 1rem;
    }
    .silgle_feture h6{
        font-size: 0.8rem;
    }

    .silgle_feture p{
        font-size: 0.6rem;
    }
    .choose_content p{
        font-size: 0.8rem;
    }
    
}